
@model IEnumerable<MusicAlbumWeb.MusicAlbum>

ViewBag.Title = "HomePage";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>YouTube Audio Player</title>
	<link href="~/Content/CardStyles.css" rel="stylesheet" />
	<style>
		

		#search-bar {
			margin: 20px;
			display: flex;
			align-items: center;
		}

		#search-input {
			padding: 10px;
			width: 300px;
			font-size: 1em;
			color: #333; /* Text color in the input field */
			background-color: #f2f2f2; /* Light gray background */
			border: 2px solid #666; /* Dark gray border */
			border-radius: 5px; /* Rounded corners */
			margin-right: 10px; /* Spacing between input and button */
			outline: none; /* Remove default input focus outline */
		}

			#search-input:focus {
				border-color: #999; /* Darker border color on focus */
			}

		#search-button {
			padding: 10px;
			font-size: 1em;
			color: #FFFFFF;
			background-color: #666; /* Dark gray background */
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: background-color 0.3s ease; /* Smooth transition on hover */
		}

			#search-button:hover {
				background-color: #444; /* Darker gray on hover */
			}

		h2 {
			font-weight: bold;
			font-size: 2em;
			margin-top: 20px;
			font-style: italic;
		}

		img {
			margin-right: 30px;
		}
		.thumbnail {
			background-color: transparent;
			width:fit-content;
			border:none;
		}
		.container {
		height:fit-content;
		margin-left:0px;
		}
		h2.a {
			text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
		}
		h2.b {
			text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87
		}
		.shadow1 {
			text-shadow: 0 0 0.2em #3f4f78, 0 0 0.2em #3f4f78
		}
		h2.c {
			text-shadow: 0 0 0.2em #ae9e29, 0 0 0.2em #ae9e29;
		}
		.margin-top {
			margin-top:20px;
		}

		.card2 {
			box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
		}

		.width-90 {
			width: 90px !important;
		}

		.rounded-3 {
			border-radius: 0.5rem !important;
		}
		.decnone {
			text-decoration: none;
		}
	</style>
</head>
<body>

	<div id="search-bar">
		<input type="text" id="search-input" placeholder="Search...">
		<button id="search-button">Search</button>
	</div>
	<h2 class="b">Music Genres</h2>
	<div class="row">
		<a href="@Url.Action("MusicGenres", "MusicAlbums", new { type = "LOVE" })">
			<div class="col-sm-12 col-md-6 col-lg-4 mb-4 margin-top">
				<div class="card text-dark card-has-bg click-col" style="background-image: url('https://media.istockphoto.com/id/1367739711/vector/sound-wave-heart-shape-music-equalizer-abstract-vector-illustration.jpg?s=612x612&w=0&k=20&c=S6xb1YMAk69fp-8A7hzYFa_ZJi9asnB3St6ucr6Gb-s=');">
					<div class="card-img-overlay d-flex flex-column">
						<div class="card-body">
							<span class="card-meta mb-2 shadow1">FALL IN LOVE</span>
						</div>
					</div>
				</div>
			</div>
		</a>
		<!--2-->
		<a href="@Url.Action("MusicGenres", "MusicAlbums", new { type = "JAZZ" })">
			<div class="col-sm-12 col-md-6 col-lg-4 mb-4 margin-top">
				<div class="card text-dark card-has-bg click-col" style="background-image: url('https://www.sciencefriday.com/wp-content/uploads/2022/12/jazz-trumpet.jpg');">
					<div class="card-img-overlay d-flex flex-column">
						<div class="card-body">
							<span class="card-meta mb-2 shadow1">Jazz</span>
						</div>
					</div>
				</div>
			</div>
		</a>
		<!--3-->
		<a href="@Url.Action("MusicGenres", "MusicAlbums", new { type = "POP" })">
			<div class="col-sm-12 col-md-6 col-lg-4 mb-4 margin-top">
				<div class="card text-dark card-has-bg click-col" style="background-image: url('https://pyxis.nymag.com/v1/imgs/3a3/b1f/2141226b8ab1ae07afe4b541ee0d2b0825-11-yic-pop-essay.2x.h473.w710.jpg');">
					<div class="card-img-overlay d-flex flex-column">
						<div class="card-body">
							<span class="card-meta mb-2 shadow1">POP</span>
						</div>
					</div>
				</div>
			</div>
		</a>
		<!--4-->
		<a href="@Url.Action("MusicGenres", "MusicAlbums", new { type = "CLASSIC" })">
			<div class="col-sm-12 col-md-6 col-lg-4 mb-4 margin-top">
				<div class="card text-dark card-has-bg click-col" style="background-image: url('https://ns-static.s3.us-east-va.perf.cloud.ovh.us/img/categories/styles/classical-music_1600x900.jpg');">
					<div class="card-img-overlay d-flex flex-column">
						<div class="card-body">
							<span class="card-meta mb-2 shadow1">Classic</span>
						</div>
					</div>
				</div>
			</div>
		</a>
		<a href="@Url.Action("MusicGenres", "MusicAlbums", new { type = "RAP" })">
			<div class="col-sm-12 col-md-6 col-lg-4 mb-4 margin-top">
				<div class="card text-dark card-has-bg click-col" style="background-image: url('https://www.rollingstone.com/wp-content/uploads/2022/05/210603_200rapalbums_FINAL.jpg?w=1581&h=1054&crop=1');">
					<div class="card-img-overlay d-flex flex-column">
						<div class="card-body">
							<span class="card-meta mb-2 shadow1">RAP</span>
						</div>
					</div>
				</div>
			</div>
		</a>
		<a href="@Url.Action("MusicGenres", "MusicAlbums", new { type = "ROCK" })">
			<div class="col-sm-12 col-md-6 col-lg-4 mb-4 margin-top">
				<div class="card text-dark card-has-bg click-col" style="background-image: url('https://img.freepik.com/premium-photo/illustration-rock-guitarist-digital-art-ai_800563-5930.jpg');">
					<div class="card-img-overlay d-flex flex-column">
						<div class="card-body">
							<span class="card-meta mb-2 shadow1">Rock</span>
						</div>
					</div>
				</div>
			</div>
			</a>
	</div>



	<div>
		<h2 class="a">Top6 Charts Music</h2>
		<div class="container">
			@{
				var sortedModel = Model.OrderByDescending(m => m.Hit).ToList();
			}
			@for (var i = 1; i <= Math.Min(6, sortedModel.Count()); i++)
			{
				var indexItem = i - 1;
				if (i == 1 || i % 4 == 1)
				{
					@:<div class="row">
					}

					<div class="col-md-2 card-has-bg" style="padding-left:25px;">
						<div class="thumbnail">
							<img class="img-responsive" style="max-width: 120%; height: 200px; object-fit: cover; object-position: center;"
								 src=@Url.Content("~/Content/images/" + (sortedModel.ElementAt(indexItem).Musicpic)) />
						</div>
						<div>
							<span class="text-with-shadow" style="align-items:center;">@(sortedModel.ElementAt(indexItem).Musicname)</span>
						</div>
					</div>

					if (i % 6 == 0 || i == Math.Min(6, sortedModel.Count()))
					{
					@:</div>
				}
			}
		</div>
	</div>
	<h2 class="">All</h2>
	<div class="container">
		<div class="row">
			@for (var i = 0; i < Model.Count(); i++)
			{
				var musicItem = Model.ElementAt(i);

				<div class="col-md-4 mb-3 card-has-bg">
					<div class="card mb-3 " style="margin-top:10px; min-height: 100px; background-image: url('@Url.Content("~/Content/images/" + musicItem.Musicpic)'); background-size: 70%; background-position: top; padding-top: 10px; width: 540px;">
						<div class="card-img-overlay">
							<a href="@musicItem.Musiclink" target="_blank" style="text-decoration: none; color: inherit;">
								<div class="row align-items-center">
									<div class="col-md-4">
										<img class="width-90 rounded-3" style="height: 100px; min-width: 150px; object-fit: cover; object-position: center;" src=@Url.Content("~/Content/images/" + musicItem.Musicpic) />
									</div>
									<div class="col-md-8" style="width:fit-content;">
										<div class="overflow-hidden flex-nowrap" style="width:300px;">
											<h3 class="mb-1">
												<span class="text-reset text-with-shadow" style="color: aliceblue; font-size: 18px; white-space: nowrap; text-overflow: ellipsis;">@musicItem.Musicname</span>
											</h3>
											<span class="text-muted d-block mb-2 small" style="font-size: 15px; color: #b4d3db;">
												@musicItem.Artist
											</span>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			}
		</div>
	</div>

	<br />
</body>
</html>

