@model IEnumerable<MusicAlbumWeb.Album>

@{
    ViewBag.Title = "Index";
}
<head>
    <style>
        .h2 {
            padding-top: 10px;
        }

        .img {
            width: 150px;
            height: 150px;
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            border: 2px solid #454f54; /* สีขอบเป็นสีน้ำเงิน */
            border-radius: 10px; /* ขอบมนเมตร */
            padding: 20px; /* ระยะห่างขอบเนื้อหา */
        }

        .btn {
            background-color: #454f54;
            border: hidden;
        }

        h2 {
            font-weight: bold;
            font-size: 2em;
            margin-top: 20px;
            font-style: italic;
        }

            h2.a {
                text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
            }

            h2.b {
                text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87
            }

        .shadow1 {
            text-shadow: 0 0 0.2em #3f4f78, 0 0 0.2em #3f4f78
        }

        h2.c {
            text-shadow: 0 0 0.2em #ae9e29, 0 0 0.2em #ae9e29;
        }
    </style>
</head>
<h2>MusicAlbum</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
	@for (var i = 1; i <= Model.ToList().Count(); i++)
	{
		var indexItem = i - 1;
		if (i == 1 || i % 4 == 1)
		{
			@:<div class="row">
			}

			<div class="col-md-3">
				<div class="thumbnail">
					<img src="@Url.Content(Model.ElementAt(indexItem).AlbumPic != null ? "~/Content/images/" + Model.ElementAt(indexItem).AlbumPic : "~/Content/images/albumpicnomal.png")" />
					<div class="caption">
						<h3> @Model.ElementAt(indexItem).Albumname </h3>
						@Html.ActionLink("Details", "Details", new { id = @Model.ElementAt(indexItem).Id }, new { @class = "btn btn-info" })		
					</div>
				</div>
			</div>

			if (i % 4 == 0)
			{
			@:</div>
		}
	}
</div>
