@model IEnumerable<MusicAlbumWeb.MusicAlbum>

@{
    ViewBag.Title = "AlbumList";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Audio Player</title>
    <link href="~/Content/CardStyles.css" rel="stylesheet" />
    <script src="~/ScriptMusic/SearchMusic.js"></script>
    <style>

        .containersearch {
            text-align: center;
        }

        #search-bar {
            position: relative;
            max-width: 600px;
            margin: 20px auto;
        }

        #autocomplete-results {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
        }

        .autocomplete-results {
            display: none;
            position: absolute;
            width: 100%;
            background-color: #485357;
            border: 1px solid #ddd;
            max-height: 200px;
            overflow-y: auto;
            z-index: 1000; /* ปรับค่า z-index ตามต้องการ */
            border-radius: 5px;
        }


        .autocomplete-results-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            .autocomplete-results-list li {
                padding: 5px;
                border-bottom: 1px solid #ccc;
                cursor: pointer;
            }

                .autocomplete-results-list li:hover {
                    background-color: #394246;
                }

            .autocomplete-results-list a {
                color: #b4d3db; /* เปลี่ยนสีตัวหนังสือตามที่คุณต้องการ */
                text-decoration: none; /* ลบ underline ของลิงก์ */
            }

                .autocomplete-results-list a:hover {
                    color: black; /* เปลี่ยนสีตัวหนังสือเมื่อโฮเวอร์ลิงก์ */
                }


        #search-input {
            border-radius: 5px;
            background-color: #394246;
            width: 100%;
            padding: 8px;
        }

        .search-results {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .search-results-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            .search-results-list li {
                padding: 5px;
                border-bottom: 1px solid #ccc;
            }

                .search-results-list li:last-child {
                    border-bottom: none;
                }


        h2 {
            font-weight: bold;
            font-size: 2em;
            margin-top: 20px;
            font-style: italic;
        }

        img {
            margin-right: 30px;
        }

        .thumbnail {
            background-color: transparent;
            width: fit-content;
            border: none;
        }

        .container {
            height: fit-content;
            margin-left: 0px;
        }

        h2.a {
            text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
        }

        h2.b {
            text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87
        }

        .shadow1 {
            text-shadow: 0 0 0.2em #3f4f78, 0 0 0.2em #3f4f78
        }

        h2.c {
            text-shadow: 0 0 0.2em #ae9e29, 0 0 0.2em #ae9e29;
        }

        .margin-top {
            margin-top: 20px;
        }

        .card2 {
            box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
        }

        .width-90 {
            width: 90px !important;
        }

        .rounded-3 {
            border-radius: 0.5rem !important;
        }

        .decnone {
            text-decoration: none;
        }
    </style>
</head>

<h2 class="c">Album List</h2>
<div class="container">
    <div class="row">
        @for (var i = 0; i < Model.Count(); i++)
        {
            var musicItem = Model.ElementAt(i);

            <div class="col-md-4 mb-3 card-has-bg">
                <div class="card mb-3 " style="margin-top:10px; min-height: 100px; background-image: url('@Url.Content("~/Content/images/" + musicItem.Musicpic)'); background-size: 70%; background-position: top; padding-top: 10px; width: 540px;">
                    <div class="card-img-overlay">
                        <a href="@Url.Action("MusicPlay", "MusicAlbums", new { id = @musicItem.Id })">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <img class="width-90 rounded-3" style="height: 100px; min-width: 150px; object-fit: cover; object-position: center;" src=@Url.Content("~/Content/images/" + musicItem.Musicpic) />
                                </div>
                                <div class="col-md-8" style="width:fit-content;">
                                    <div class="overflow-hidden flex-nowrap" style="width:300px;">
                                        <h3 class="mb-1">
                                            <span class="text-reset text-with-shadow" style="color: aliceblue; font-size: 18px; white-space: nowrap; text-overflow: ellipsis;">@musicItem.Musicname</span>
                                        </h3>
                                        <span class="text-muted d-block mb-2 small" style="font-size: 15px; color: #b4d3db;">
                                            @musicItem.Artist
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
    
