@model IEnumerable<MusicAlbumWeb.MusicAlbum>
@{
	ViewBag.Title = "MusicPlay";

}
<head>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="~/ScriptMusic/dropdown.js"></script>
	<link href="~/Content/3dotsmenu.css" rel="stylesheet" />
	<style>
		.media {
			display: flex;
			align-items: center;
		}

		.video-container {
			margin-right: 40px; /* ระยะห่างระหว่างวีดีโอกับข้อความ */
			margin-left: 50px;
		}

			.video-container iframe {
				width: 640px;
				height: 360px;
			}

		.text-container {
			/*flex-grow: 1; /* ทำให้ข้อความขยายเต็มพื้นที่ที่เหลือ */
			width: 500px;
			height: 360px;
		}

		.h2 {
			font-weight: bold;
			font-size: 30px;
		}
        

        h2 {
            font-weight: bold;
            font-size: 2em;
            margin-top: 20px;
            font-style: italic;
        }
	</style>
</head>
<body>
	@foreach (var music in Model)
	{
		<div class="media" style="margin-top: 50px; height:400px;">
			<div class="video-container">
				@{
					var videoId = "";

					// ตรวจสอบว่ามีลิงก์ YouTube หรือไม่
					if (!string.IsNullOrEmpty(music.Musiclink) && music.Musiclink.Contains("youtube.com"))
					{
						// ใช้ Regular Expression เพื่อค้นหา Video ID จากลิงก์ YouTube
						var match = System.Text.RegularExpressions.Regex.Match(music.Musiclink, @"(?:\?|&)v=([^&]+)");

						if (match.Success)
						{
							videoId = match.Groups[1].Value;
						}
					}
				}

				@if (!string.IsNullOrEmpty(videoId))
				{
					<iframe width="640" height="360" frameborder="0" style="border-radius: 8px;" src="https://www.youtube.com/embed/@videoId">
					</iframe>
				}
				else
				{
					<p>ไม่พบวีดีโอที่สามารถเล่นได้</p>
				}
			</div>

			<div class="text-container">
				<img class="width-90 rounded-3" style="border-radius:5px; height: 150px; min-width: 150px; object-fit: cover; object-position: center;" src=@Url.Content("~/Content/images/" + music.Musicpic) />
				<div style="margin-top:10px;">
					<span class="h2">@music.Musicname</span>
				</div>
				<div>
					<div>
						<span class="text-muted d-block mb-2 small" style="font-size: 20px; color: #b4d3db;">
							<img src="~/Content/Images/singer.png" alt="Contact Icon" class="icon" />
							@music.Artist
						</span>
					</div>
					<div>
						<span class="text-muted d-block mb-2 small" style="font-size: 20px; color: #b4d3db;">
							<a style="color: #b4d3db; text-decoration: none; " href="@Url.Action("MusicGenres", "MusicAlbums", new { type = @music.Type })">
								<img src="~/Content/Images/Mic.png" alt="Contact Icon" class="icon" />
								@music.Type
								</a>
						</span>
					</div>
					<div>
						<span class="text-muted d-block mb-2 small" style="font-size: 20px; color: #b4d3db;">
							<img src="~/Content/Images/Music.png" alt="Contact Icon" class="icon" />
							@music.Album
						</span>
					</div>
					<div style="margin-top:0px;">
						@if (User.Identity.IsAuthenticated)
						{
							var db = new Entities();
							var isFavorite = db.FavoriteMusic.Any(f => f.MusicFavId == music.Id && f.UserEmail == User.Identity.Name);

							<img id="heartImage_@(music.Id)" src="@(isFavorite ? "/Content/Images/favoriteT.png" : "/Content/Images/favoriteF.png")" style="height: 50px; min-width: 50px;" onclick="toggleFavorite(@(music.Id))" />
						}
						else
						{
							<a href="@Url.Action("Login", "Account")">
								<img src="/Content/Images/favoriteF.png" style="height: 50px; min-width: 50px;" />
							</a>
						}
						<script src="~/ScriptMusic/MyFavoriteMusic.js"></script>
					</div>

				</div>
			</div>
		</div>
					}

<div style="display: flex; justify-content: space-between; padding:30px; width:auto; margin-top:100px;">
	<div style="align-items: center; margin-left: 0px; width: 700px; background-color: #394246; border-radius: 10px; padding: 10px; ">
		<div>
			<span style="color: aliceblue; font-size: 2em; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ">
				Comment
			</span>
		</div>

		@foreach (var music in Model)
		{
			var db = new Entities();
			var CommentThisSong = db.Comment.Where(c => c.Musicid == music.Id).ToList();

			foreach (var comment in CommentThisSong)
			{
				var user = db.AspNetUsers.SingleOrDefault(u => u.Email == comment.UserEmail);

	<div style="background-color: #768388; padding: 20px; margin: 20px; border-radius: 10px; ">
		<div style="display: flex; justify-content: space-between; align-items: center; ">
			<div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
				<div class="g-mb-15">
					<h5 class="h5 g-color-gray-dark-v1 mb-0">@user.UserName</h5>
				</div>
				<div id="comment-@comment.Id" class="comment-text">
					<p class="g-color-gray-dark-v1">
						@comment.Comment1 <br />
					</p>
				</div>
				<div style="display: none;" id="edit-comment-@comment.Id">
					<input type="text" style="color: #394246; border-radius:5px;" class="comment-input" id="commentInput-@comment.Id" value="@comment.Comment1" />
					<button style="background-color: #394246; border-radius:5px; " onclick="updateCommentInline(@comment.Id)">Save</button>
				</div>
			</div>
			<div class="dropdown">
				<div class="dots-icon @((User.Identity.Name != comment.UserEmail) ? "black-color" : "white-color")" onclick="toggleDropdown(this)">&#8286;</div>
				<div class="dropdown-content">
					@if (User.Identity.Name == comment.UserEmail)
					{
					<a href="#" onclick="editCommentInline(@comment.Id)">
						<img src="~/Content/Images/penedit.png" alt="Edit" class="icon"> Edit
					</a>
						<a href="#" onclick="deleteComment(@comment.Id)">
							<img src="~/Content/Images/bindelete.png" alt="Delete" class="icon"> Delete
						</a>
					}
				</div>
			</div>
		</div>
	</div>
			}
		}
	</div>
	<div style="background-color: #394246; width: 400px; height:fit-content; border-radius: 10px; padding: 15px; margin-right:10px;">
		<form id="algin-form">
			<div class="form-group">
				<h4>Leave a comment</h4>
				<label for="message">Message</label>
				<textarea name="msg" id="commentText" cols="30" rows="5" class="form-control" style="background-color: black; color:#b4d3db;"></textarea>
			</div>
			<div class="form-group" id="comment-form">
				@foreach (var music in Model)
				{
					<button style="background-color: #768388" type="button" class="btn post-comment-btn" data-music-id="@music.Id">Post Comment</button>
				}
				<script src="~/ScriptMusic/MyComment.js"></script>
			</div>
		</form>
	</div>
</div>
</body>
